.se-pre-con {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url('../images/Preloader_7.gif') center no-repeat black;
}

.no-js #loader {
   display: none;
}

.js #loader {
   display: block;
   position: absolute;
   left: 100px;
   top: 0;
}


@media screen and (min-width: 701px) 
{
   
   
      #particles-js{
         width: 100%;
         height: 87%;
         position: absolute;
         
         background-size: cover;
         background-repeat: no-repeat;
      
   }
 }
 
 @media screen and (max-width: 700px) 
 {
   #particles-js{
      width: 100%;
      height: 70%;
      position: absolute;
      
      background-size: cover;
      background-repeat: no-repeat;
    }
 }


#home
{
    
    background-image: linear-gradient( to right bottom, rgba(17, 16, 16, 0.801), rgba(15, 14, 14, 0.637)),url('../images/homebg2.jpeg');
    width:100%;
    height:100%; 
    background-size:100% 100%;
    font-family: sans-serif;
}
     @media screen and (min-width: 601px) 
     {
        #home  
        {
          font-size: 82px;
        }
      }
      
      @media screen and (max-width: 600px) 
      {
        #home 
         {
             padding-top:30px;
          font-size: 45px;
        }
      }
    

      #projects
      {
          
         background-image:linear-gradient( to right bottom, rgba(54, 52, 52, 0.562), rgba(41, 39, 39, 0.5)), url('../images/work.jpg');
          width:100%;
          height:100%; 
          background-size:cover;
          position:center;
          
      }

      .try
        {
           background:linear-gradient(to right bottom, rgba(0, 0, 0, 0.705), rgba(3, 3, 3, 0.692)) !important
        }


        #skill
        {
            
            background-image: linear-gradient( to right bottom, rgba(17, 16, 16, 0.801), rgba(15, 14, 14, 0.637)),url('../images/footer1.jpeg');
            width:100%;
            height:100%; 
            background-size:cover;
            font-family: sans-serif;
            position:center;
        } 

        .hv:hover
        {
            transform: scale(1.1);
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
            height: 50px;
            width: 50px;
            outline: black;
            background-color: rgba(0, 0, 0, 0.3);
            background-size: 100%, 100%;
            border-radius: 10%;
            border: 1px solid black;
        }

        #cert
        {
            
            background-image: linear-gradient( to right bottom, rgba(65, 62, 62, 0.562), rgba(59, 57, 57, 0.479)),url('../images/skillbg.jpeg');
            width:100%;
            height:100%; 
            background-size:cover;
            font-family: sans-serif;
        } 

     
       
        @media screen and (min-width: 701px) 
       {
          .ab1  
          {
          font-size: 40px;
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ab1 
           {
            
            font-size: 25px;
          }
       }
       
       @media screen and (min-width: 701px) 
       {
          .ab2 
          {
          font-size: 32px;
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ab2
           {
             
            font-size: 16px;
          }
       }
       

       @media screen and (min-width: 701px) 
       {
          .ab3  
          {
          font-size: 20px;
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ab3
           {
             
            font-size: 10px;
          }
       }
       
        
       @media screen and (min-width: 701px) 
       {
          .ab4 
          {
          font-size: 35px;
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ab4 
           {
             
            font-size: 16px;
          }
       }
       
       @media screen and (min-width: 701px) 
       {
          .ab5 
          {
          font-size: 18px;
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ab 
           {
            
            font-size: 9px;
          }
       }

       @media screen and (min-width: 701px) 
       {
          .ai1
          {
          height:15%
          }
        }
      
       @media screen and (max-width: 700px) 
       {
          .ai1
           {
            
            height:8%
          }
       }

       @media screen and (max-width: 700px) 
       {
         #contact
       {
           
           background-image:linear-gradient( to right bottom, rgba(23, 24, 24, 0.521), rgba(68, 67, 68, 0.589)), url('../images/cont.jpg');
           position:center;
           height:830px; 
           background-size: cover;
           font-family: sans-serif;
       } 
   
       }
       
       @media screen and (min-width: 701px) 
       {
         
            #contact
            {
                
                background-image:linear-gradient( to right bottom, rgba(23, 24, 24, 0.521), rgba(68, 67, 68, 0.589)), url('../images/cont.jpg');
                position:center;
                height:780px; 
                background-size: cover;
                font-family: sans-serif;
            } 
   
        }
       
      

    
    
       @media screen and (max-width: 700px) 
       {
          .c1
           {
            font-family:sans-serif;
            font-size: 15px;
            color:white;
            padding-top:21px;
          }
       }
       
       @media screen and (min-width: 701px) 
       {
          .c1 
          {
          font-size: 25px;
          color:white;
          font-family:sans-serif;
          padding-top:120px;
          
          }
        }

       
