.navbar {
    padding: 10px 20px;
    align-content: baseline;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar-nav .nav-link {
    color: black;
    padding: 0.5rem 1rem;

}

.navbar-nav .nav-link:hover {
    text-decoration: none;
}
