html {
  --section-background-color: linear-gradient(
          to bottom left,
          rgb(255, 255, 255),
          rgb(255, 255, 255)
  );



--image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: rgba(226, 11, 60, 0.83);
}


.full-height {
  height: 103vh;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.purple {
  color: var(--imp-text-color) !important;
  background: #bad343;
  padding: 10px;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgb(186, 211, 67, 0.8);
  background-image: url(./Assets/prev.png);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(70, 87, 0, 0.65);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 222, 174);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(186, 211, 67);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: rgba(255, 255, 255, 0.29) !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.42) !important;
  backdrop-filter: blur(5px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 2rem !important;
  font-size: 2rem !important;
  margin-bottom: 100%;

}

.navbar-nav {
  min-width: 20%;
}


@media (max-width: 767px) {
  .navbar {

    font-size: 2rem !important;
    background-color: rgb(255, 255, 255) !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: #000000 !important;
font-weight: 500;
  font-family: "League Spartan", Helvetica;

}


@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 8px;
  width: 0;
  border-radius: 16px;
  background: rgba(226, 11, 60, 0.83);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */
/* Add other styles if needed */


.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.main-name {
  color: black;
  font-family: "League Spartan-SemiBold", Helvetica;
  font-size:600%;
  font-weight: 400;
  letter-spacing: 0;

  padding-bottom: 5%;
  text-align: left;

}

.home-content {
  margin-top: 3.5%;

  text-align: left;
  justify-content: left;/* Align text to the left */
  min-width: 73%;
  min-height: auto;


}
.home-content-sect {
  margin-top: 3.5%;
  text-align: left;
  justify-content: left;/* Align text to the left */


}

.main-name .text-wrapper {
  font-weight: 900;
}
.main-name .text-wrapper-2 {
  font-weight: 700;
  color: rgba(226, 11, 60, 0.83);

}

.main-name .span {
  font-family: "League Spartan-SemiBold", Helvetica;
  font-style: italic;
  font-weight: 700;
}
.margin{
  margin-top: 25%;
}
.margin2{
  margin-top: 10%;
}
.text-deco {
  text-decoration: underline;
  text-decoration-color: #ee2c5b;
  text-decoration-thickness: 15px;
}

.heading-name {
  padding-top: 1.5%;
  font-size: 3rem;
  text-align: left;
  font-family: "Montserrat-Regular", Helvetica;
  margin-bottom: 5%;
}
.sign-up-btn {
  width: 35%;
  height: 100px;
  background-color: #ee2c5b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-family: "League Spartan-SemiBold", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%/* Adding shadow */
}

/* Optional hover effect */
.sign-up-btn:hover {
  background-color: #f74271;
}

.hoverOne {
  top: 25%;
  left: 3%;
  position: relative;
  z-index: 3;
  height: 35%;
}
.hoverTwo {
  top:10%;
  left: 40%;
  position: relative;
  z-index: 3;
  height: 22%;
}
.hoverThree {
  top: 5%;
right: 25%;
  position: relative;
  z-index: 3;
  height: 60%;
}

.base {

  position: absolute;
  top: 20%;
  left: 63%;
  z-index: 2;
  height: 70%;


}



/* Animation */
/* Keyframes animation for floating effect */
@keyframes floatAnimationBig {
  0% { transform: translateY(4px) translateX(0); }
  50% { transform: translateY(10px) translateX(10px); }
  100% { transform: translateY(4px) translateX(0); }
}

@keyframes floatAnimationSmall {
  0% { transform: translateY(10px) translateX(0); }
  50% { transform: translateY(5px) translateX(15px); }
  100% { transform: translateY(10px) translateX(0); }
}

@keyframes floatAnimationSmallTwo {
  0% { transform: translateY(0px) translateX(0); }
  50% { transform: translateY(10px) translateX(15px); }
  100% { transform: translateY(0px) translateX(0); }
}

.hoverThree {
  position: relative;
  z-index: 3;
  animation: floatAnimationBig 3s infinite; /* Adjust the animation duration as needed */
}

.hoverOne {
  position: relative;
  z-index: 3;
  animation: floatAnimationSmall 3s infinite; /* Adjust the animation duration as needed */
}

.hoverTwo {
  position: relative;
  z-index: 3;
  animation: floatAnimationSmallTwo 3s infinite; /* Adjust the animation duration as needed */
}

/* Section 1  */
/* Section 1  */
.shade {
  background-color: rgba(223, 224, 119, 0.17);
  min-width: 100%;
  position: absolute;
  box-shadow: inset 0px 0px 45px 5px rgba(0, 0, 0, 0.23);
 overflow: hidden;

}

.shade:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the top shadow */
  background: rgba(0, 0, 0, 0.25);
  filter: blur(15px); /* Adjust the blur factor as needed */
  z-index: -1;
  padding-bottom: -10%;
}

.shade:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the bottom shadow */
  background: rgba(0, 0, 0, 0.25);
  filter: blur(15px); /* Adjust the blur factor as needed */
  z-index: -1;
  padding-bottom: -10%;
}

.shade2 {
  vertical-align: middle;
  background-color: rgba(223, 224, 119, 0.17);
  min-width: 100%;
  position: relative;
  box-shadow: inset 0px 0px 45px 5px rgba(0, 0, 0, 0.23);

}

.shade2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the top shadow */
  background: rgba(0, 0, 0, 0.25);
  filter: blur(15px); /* Adjust the blur factor as needed */
  z-index: -1;
  padding-bottom: -10%;
}

.shade2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the bottom shadow */
  background: rgba(0, 0, 0, 0.25);
  filter: blur(15px); /* Adjust the blur factor as needed */
  z-index: -1;
  padding-bottom: -10%;
}
.main-name-sect {
  color: rgb(0, 0, 0);
  font-family: "League Spartan-SemiBold", "DM Sans-Bold", Helvetica;
  font-size: 550%;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;

  text-align: left;

  z-index: 0;
}

.main-name-secttwo {
  color: rgb(0, 0, 0);
  font-family: "League Spartan-SemiBold", "DM Sans-Bold", Helvetica;
  font-size: 450%;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
  align-items: flex-start;
  text-align: left;

  z-index: 0;
}

.main-name-sect .text-wrapper {
  font-weight: 700;
  color: rgba(226, 11, 60, 0.83);
}

.main-name-secttwo .span {
  font-weight: 700;
  color: rgba(226, 11, 60, 0.83);
}

.questions {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  opacity: 0.5;

}

.questions2 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  padding-top: 1%;
  left: -80px;
  overflow: hidden;
  position: relative;
}
.white {
  background-color: white;
}
.questions3 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
  padding-top: 1%;
  bottom: 350px;
  right: 180px;
  overflow: hidden !important;
  position: relative;
  opacity: 0.2;

}
.questions4 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
  padding-top: 5%;
  bottom: 350px;

  overflow: hidden;
  position: relative;
  opacity: 0.5;
}
.questions5 {
  color: #000000;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
  padding-top: 1%;
  bottom: 350px;
  right: 420px;
  overflow: hidden;
  position: relative;
}
.rectangle {
  display: inline-block;
  padding: 20px 60px; /* Adjust padding as needed */
  border-radius: 50px; /* Border corner radius */
  background-color: #DFE077;


}
.sometimes-you-re {
  padding-top: 2%;
  padding-bottom: 5%;
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 280%;
  font-weight: 400;

}

.sometimes-you-re .text-wrapper {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;

  font-weight: 400;

}

.sometimes-you-re .span {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

/* Sect two */




.Sub  {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 300%;
  line-height: 125%;
  font-weight: 400;

}

.Sub .span {
  font-weight: 700;
  text-decoration: underline;

}



.hoverOne2 {
  top: -115%;
  left: 10%;
  position: relative;
  z-index: 3;
  height: 25%;
}
.hoverTwo2 {
  top: -85%;
  left: 53%;
  position: relative;
  z-index: 3;
  height: 40%;
}
.hoverThree2 {
  top: -148%;
  left: 78%;
  position: relative;
  z-index: 3;
  height: 38%;
}

.base2 {

  position: relative;
  top: -15%;
  left: 10%;
  z-index: 2;
  height: 110%;

}

.imgs-base {
  margin-bottom: 15%;

}
.imgs-base2 {
  margin-bottom: -25%;
}

/* Animation */
/* Keyframes animation for floating effect */
@keyframes floatAnimationBig {
  0% { transform: translateY(4px) translateX(0); }
  50% { transform: translateY(10px) translateX(10px); }
  100% { transform: translateY(4px) translateX(0); }
}

@keyframes floatAnimationSmall {
  0% { transform: translateY(10px) translateX(0); }
  50% { transform: translateY(5px) translateX(15px); }
  100% { transform: translateY(10px) translateX(0); }
}

@keyframes floatAnimationSmallTwo {
  0% { transform: translateY(0px) translateX(0); }
  50% { transform: translateY(10px) translateX(15px); }
  100% { transform: translateY(0px) translateX(0); }
}

.hoverThree2 {
  position: relative;
  z-index: 3;
  animation: floatAnimationBig 3s infinite; /* Adjust the animation duration as needed */
}

.hoverOne2 {
  position: relative;
  z-index: 3;
  animation: floatAnimationSmall 3s infinite; /* Adjust the animation duration as needed */
}

.hoverTwo2 {
  position: relative;
  z-index: 3;
  animation: floatAnimationSmallTwo 3s infinite; /* Adjust the animation duration as needed */
}
/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #DFE077;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  padding: 5% !important ;
}
.footer-copywright {
  text-align: left !important;
  text-decoration-color: #0c0513;
  font-size: 1.5rem;
}
.Footerhed{
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: left !important;
  text-decoration-color: #0c0513;
  font-size: 2.5rem;
  max-width: 80%;
}
.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer-icons {

  padding: 0 !important;
  list-style: none; /* Remove bullet points */
}


/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #623686 !important;
  border-color: #623686 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
}

.card-head {

  font-size: 3.5rem;
  font-family: "League Spartan", Helvetica;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 700;

}
.cardSub {

  font-size: 2.5rem;
  font-family: "Montserrat-SemiBold", Helvetica;
  margin-top: 5%;
  padding: 10px;
  font-weight: 500;


}

.space {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 5%;}
.cardSub .span {
font-weight: bold}

.home-content-about {
  margin-top: 3.5%;
  padding-bottom: 6.5%;
  text-align: left;
  justify-content: left;/* Align text to the left */
  min-width: 80%;

}
.tech-icons {
  margin: 30px;
  padding: 25px;
  width: 70px; /* Adjust the width as needed */
  opacity: 0.93;
  background-color: #dfe077;
  vertical-align: middle;
  text-align: center;
  border-radius: 65px;
  box-shadow: 4px 5px 4px 3px rgba(83, 86, 61, 0.73) !important;
  transition: all 0.4s ease 0s;
}

.img-card {
  /* Remove min-height property */
  /* min-height: 280%; */

  width: 500px;
}
.img-card2 {
  width: 600px;
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  background-color: rgba(238, 44, 91, 0.8); /* Change the last value (0.8) to control opacity */


}



/* --------- */
/* Testimonial */
/* --------- */

.home-content-testi{
  text-align: left;
  justify-content: left;/* Align text to the left */
  min-width: 73%;
  min-heigh: 80%
}
.header {
  font-size: 4.5rem;
  font-family: "League Spartan", Helvetica;

  margin-top: 3%;
  font-weight: 700;
}
.subhead {
  font-size: 3.4rem;
  font-family: "League Spartan", Helvetica;
   color: #ee2c5b;
  font-weight: 700;
}


.testi-img {
  width: 60%;
  justify-content: center;
  margin-left: 15%;
}

.testimonial {
  min-width: 95%;
  background-color: rgba(223, 224, 119, 0.13);
  padding: 5%;
  border-radius: 70px;
  justify-content: center;
  vertical-align: middle;
margin-bottom: 10%;
}
/* Add this CSS to your stylesheet */
.opalescent-arrow {
  /* Customize the color, size, and other styles of the arrows */
  color: rgba(238, 44, 91, 0.7);
  font-size: 24px;
}

.arrow-button {


  /* Remove default button styles */
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  /* Add any additional styles you want for the arrow buttons */

}


.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #934cce5e !important;
  border-color: #934cce5e !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}
.fork-btn-inner::after {
  display: none !important;
}
